<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- meta -->
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>

<body>
    <p>---------------------通用网页头部---------------------</p>
    <div class="inner"><a href="./Login" class="light">登录</a></div>
    <div class="inner"><a href="./Register" class="light">注册</a></div>

    <div id="main"
    <%- body %>
    </div>

    <p>---------------------通用网页底部---------------------</p>
</body>

</html>