<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- meta -->
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" />

</head>

<body>
    <div class='navbar'>
        <div class='navbar-inner'>
            <div class='container'>
                <ul class='nav pull-right'>
                    <li><a href="/Login" class="light">登录</a></li>
                    <li><a href="/Login/register" class="light">注册</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="main" <%- body %>
    </div>

    <p>---------------------通用网页底部---------------------</p>
</body>

</html>